RAILS_ENV=development
HYPER_DATABASE_URL=postgres://postgres:password@postgres:5432/hypercable_hyper
REDIS_URL=redis://redis:6379
DATABASE_URL=postgres://postgres:password@postgres:5432/hypercable_dev
REDIS_HOST=redis
