<div class="stats-item relative bg-white dark:bg-gray-825 shadow-xl rounded p-4" style="height: 436px;">
  <div class="fade-enter-active">
    <div class="w-full flex justify-between">
      <h3 class="font-bold dark:text-gray-100">Top sources</h3>
      <ul class="flex font-medium text-xs text-gray-500 dark:text-gray-400 space-x-2">
        <li class="inline-block h-5 text-indigo-700 dark:text-indigo-500 font-bold border-b-2 border-indigo-700 dark:border-indigo-500">All</li>
        <li class="hover:text-indigo-600 cursor-pointer">Medium</li>
        <li class="hover:text-indigo-600 cursor-pointer">Source</li>
        <li class="hover:text-indigo-600 cursor-pointer">Campaign</li>
      </ul>
    </div>
    <div class="flex items-center mt-3 mb-2 justify-between text-gray-500 text-xs font-bold tracking-wide"><span>Source</span><span>Visitors</span>
    </div>
    <div style="position: relative;">
      <div class="flex items-center justify-between my-1 text-sm">
        <div class="w-full h-8" style="max-width: calc(100% - 4rem);">
          <div class="bg-blue-50 dark:bg-gray-500 dark:bg-opacity-15" style="width: 100%; height: 30px;">
            
          </div>
          <span class="flex px-2 dark:text-gray-300" style="margin-top: -26px;">
            <a class="block truncate hover:underline" href="/?source=Google">
              <img src="https://icons.duckduckgo.com/ip3/google.com.ico" referrerpolicy="no-referrer" class="inline h-4 w-4 mr-2 align-middle -mt-px">Google
            </a>
          </span>
        </div><span class="font-medium dark:text-gray-200">777</span>
      </div>
      
      <div class="flex items-center justify-between my-1 text-sm">
        <div class="w-full h-8" style="max-width: calc(100% - 4rem);">
          <div class="bg-blue-50 dark:bg-gray-500 dark:bg-opacity-15" style="width: 2.3166%; height: 30px;">
            
          </div><span class="flex px-2 dark:text-gray-300" style="margin-top: -26px;"><a class="block truncate hover:underline" href="/?source=oschina.net"><img src="https://icons.duckduckgo.com/ip3/oschina.net.ico" referrerpolicy="no-referrer" class="inline h-4 w-4 mr-2 align-middle -mt-px">oschina.net</a></span>
        </div>
        <span class="font-medium dark:text-gray-200">18</span>
      </div>

    </div>

    <div class="text-center w-full absolute bottom-0 left-0 pb-3">
      <a class="leading-snug font-bold text-sm text-gray-500 dark:text-gray-400 hover:text-red-500 dark:hover:text-red-400 transition tracking-wide" href="/hackershare.dev/sources"><svg class="feather mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-top: -2px;"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg>MORE
      </a>
    </div>
  </div>
</div>