<div class="stats-item relative bg-white dark:bg-gray-825 shadow-xl rounded p-4" style="height: 436px;">
  <div class="fade-enter-active">
    <h3 class="font-bold dark:text-gray-100">Top Pages</h3>
    <div class="flex items-center mt-3 mb-2 justify-between text-gray-500 dark:text-gray-400 text-xs font-bold tracking-wide"><span>Page url</span><span>Visitors</span>
    </div>
    <div style="position: relative;">
      <% @top_pages.each do |page| %>
      <% @max_page ||= page.count %>
        <div class="flex items-center justify-between my-1 text-sm">
          <div class="w-full h-8 truncate" style="max-width: calc(100% - 4rem);">
            <div class="bg-orange-50 dark:bg-gray-500 dark:bg-opacity-15" style="width: <%= (page.count / @max_page.to_f) * 100 %>%; height: 30px;">

            </div>
            <span class="flex px-2 group dark:text-gray-300" style="margin-top: -26px;">
              <%= link_to url_to_path(page.location_url), site_path(@site, request.query_parameters.merge(location_url: page.location_url)), class: 'block hover:underline', title: page.location_url %>
              <a target="_blank" href="<%= page.location_url %>" class="hidden group-hover:block"><svg class="inline h-4 w-4 ml-1 -mt-1 text-gray-600 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path></svg></a>
            </span>
          </div><span class="font-medium dark:text-gray-200"><%= pretty_num page.count %></span>
        </div>
      <% end %>
    </div>

    <div class="text-center w-full absolute bottom-0 left-0 pb-3">
      <a class="leading-snug font-bold text-sm text-gray-500 dark:text-gray-400 hover:text-red-500 dark:hover:text-red-400 transition tracking-wide" href="/hackershare.dev/pages"><svg class="feather mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-top: -2px;"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg>MORE
      </a>
    </div>
  </div>
</div>