<div class="w-full max-w-3xl mt-4 mx-auto flex">
<form action="/" class="max-w-lg w-full mx-auto bg-white dark:bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-8" method="post"><input name="_csrf_token" type="hidden" value="DG4jQBt9IABDUCV2BnVkAAouNHQ3LTJ8g6fyhOzc0fQAdGVELgPMrutI">
    <h2 class="text-xl font-bold dark:text-gray-100">Add javascript snippet</h2>
    <div class="my-4">
      <p class="dark:text-gray-100">Paste this snippet in the <code>&lt;head&gt;</code> of your website.</p>

      <div class="relative">
<textarea class="transition overflow-hidden bg-gray-100 dark:bg-gray-900 appearance-none border border-transparent rounded w-full p-2 pr-6 text-gray-700 dark:text-gray-300 leading-normal appearance-none focus:outline-none focus:bg-white dark:focus:bg-gray-800 focus:border-gray-400 dark:focus:border-gray-500 text-xs mt-4 resize-none" id="snippet_code" name="domain" readonly="readonly" rows="16">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=MEASUREMENT_ID"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'MEASUREMENT_ID');
</script>
</textarea>
        <a onclick="var textarea = document.getElementById('snippet_code'); textarea.focus(); textarea.select(); document.execCommand('copy');" href="javascript:void(0)" class="no-underline text-indigo-500 text-sm hover:underline">
          <svg class="absolute text-indigo-500" style="top: 24px; right: 12px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg>
        </a>
      </div>
    </div>
<a class="button mt-4 w-full" href="/hypercable.plus">Start collecting data →</a>
</form>

    <div class="pt-12 pl-8 hidden md:block">
<div class="pt-6 px-4 sm:px-6 lg:px-8">
  <nav class="flex justify-center">
    <ol class="space-y-6">


          <!-- Complete Step -->
          <li class="flex items-start">
            <span class="flex-shrink-0 relative h-5 w-5 flex items-center justify-center">
              <svg class="h-full w-full text-indigo-600 dark:text-indigo-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
              </svg>
            </span>
            <span class="ml-3 text-sm font-medium text-gray-500 dark:text-gray-300">Register</span>
          </li>





          <!-- Complete Step -->
          <li class="flex items-start">
            <span class="flex-shrink-0 relative h-5 w-5 flex items-center justify-center">
              <svg class="h-full w-full text-indigo-600 dark:text-indigo-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
              </svg>
            </span>
            <span class="ml-3 text-sm font-medium text-gray-500 dark:text-gray-300">Activate account</span>
          </li>





          <!-- Complete Step -->
          <li class="flex items-start">
            <span class="flex-shrink-0 relative h-5 w-5 flex items-center justify-center">
              <svg class="h-full w-full text-indigo-600 dark:text-indigo-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
              </svg>
            </span>
            <span class="ml-3 text-sm font-medium text-gray-500 dark:text-gray-300">Add site info</span>
          </li>






          <!-- Current Step -->
          <li class="flex items-start">
            <span class="flex-shrink-0 h-5 w-5 relative flex items-center justify-center">
              <span class="absolute h-4 w-4 rounded-full bg-indigo-200 dark:bg-indigo-100"></span>
              <span class="relative block w-2 h-2 bg-indigo-600 dark:bg-indigo-500 rounded-full"></span>
            </span>
            <span class="ml-3 text-sm font-medium text-indigo-600 dark:text-indigo-500">Install snippet</span>
          </li>



    </ol>
  </nav>
</div>

    </div>

</div>